.bg-grey {
  background-color: $ff-color-grey;
}

.bg-brand {
  background-color: $ff-color-brand-default;
}

.bg-brand-lighten {
  background-color: $ff-color-brand-lighten;
}

.bg-dark-grey {
  background-color: #7f7e7c;
}

.bg-white {
  background-color: #fff;
}
