//------------------------------------------------------------------------
// Размеры шрифта
//------------------------------------------------------------------------

$font-size-xxs: ($base-font-size)-6px !default;
$font-size-xs: ($base-font-size)-4px !default;
$font-size-s: ($base-font-size)-2px !default;
$font-size-m: $base-font-size !default;
$font-size-l: ($base-font-size)+2px !default;
$font-size-xl: ($base-font-size)+4px !default;
$font-size-xxl: ($base-font-size)+6px !default;
